<div style="margin-left: 20px;">
    <div>
        <h1>Profile</h1>
        <p>
            You will use an ID Token to get the profile information of a logged-in
            user.
            <br>
            <strong>This route should be protected</strong>
        </p>
    </div>
    <div *ngIf="auth.user$ | async as user">
        <div class="row profile-header ">
            <div class="img-thumbnail" style="border: 0; width: 130px">
                <img [src]="user.picture" alt="profile picture" class="rounded-circle float-left">
            </div>
            <div class="col-md text-md-left">
                <h3 class="p-2" style="margin-bottom: 0px;">{{ user.name }}</h3>
                <p class="lead text-muted p-2">{{ user.email }}</p>
            </div>
        </div>
    </div>
</div>